@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

:root{

/* ### Primary */

--Yellow: hsl(47, 88%, 63%);

/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 50%);
--Black: hsl(0, 0%, 7%);
   
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Figtree';
    font-weight: 600;
}
}
body{
    background-color: var(--Yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 2rem;
    

}
.card{
    margin-top: 7rem;
    border: 2px solid black;
    
    width: 20rem;
   
    background-color: var(--White);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    border-radius: 20px;
    box-shadow: 10px 10px 0px var(--Black);
    padding: 1rem;
   
    
}
.picture{
    display: block;
    
    width: 100%;
   
    border-radius: 20px;
    
    
}
.intro{
    
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    gap: 0.5rem;    
    margin-bottom: auto;
    margin-right: auto;
}
.learning{
    max-width: 100px;
    background-color: var(--Yellow);
    color: var(--Black);
  
    text-align: center;
    border-radius: 3px;
    font-weight: 800;
}

.text{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    
    gap: 0.5rem;
    margin-bottom: auto;
    margin-right: auto;
 
}
.title{
    font-size: 20px;
    color: var(--Black);
    text-align: left;
    background-color: var(--White);
    border: none;
    font-weight: 800;
    width: 100%;
    cursor: pointer;
}
.title:hover{
    color: var(--Yellow);

}
.description{
    text-align: left;
    line-height: 1.2;
}
.user{
   
    display: flex;
    gap: 0.5rem;
    /* padding-left: 1rem; */
    align-items: center;
    margin-right: auto;
   padding: 1rem; 
   /* padding-bottom: 3rem; */
    
}
.user-pic{
    border-radius: 50%;
    width: 20px;
}

@media(max-width:500px){
    .card{
        width: 75vw;
    }
}
